@media all and (min-width: 460px) {
    .background {
        background-color: rgb(172, 94, 94);
    }
    .Login {
      padding: 100px 0; 
      background-color: rgb(221, 177, 177);
      
    }
    .Login_form {
      padding: 50px;
      margin: 0 auto;
      max-width: 320px;
      border: 1px solid rgb(240, 24, 24);
      background-color:rgb(235, 205, 205);
    }
    .Banner {
        text-align: center;
        color: rgb(158, 15, 15);
    }
    .error{
      color: darkred;
    }
  }